
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.one{
	width:100px;
	height:100px;
	background-color:blue;
}
.two{
	width:100px;
	background-color:red;
}
.three{
	width:100px;
	background-color:green;
}